<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  https://go.microsoft.com/fwlink/?LinkId=169433
-->
<configuration>
  <connectionStrings>
    <add name="Login" connectionString="Persist Security Info=True;User ID=sa;Password=123456;Initial Catalog=db_Student;Data Source=.;MultipleActiveResultSets=true" providerName="System.Data.SqlClient" />
    <add name="News" connectionString="Persist Security Info=True;User ID=sa;Password=123456;Initial Catalog=db_news_Data;Data Source=.;MultipleActiveResultSets=true" providerName="System.Data.SqlClient" />
    <add name="Test" connectionString="Persist Security Info=True;User ID=sa;Password=123456;Initial Catalog=test;Data Source=.;MultipleActiveResultSets=true" providerName="System.Data.SqlClient" />

  </connectionStrings>
  <appSettings>
    <add key="sqlStr" value="0A1D00D3D044F3B76343744178C4568BE7FFA7A5204207D4C01EF799EE8393F69D4B61F63733CCB70E86864C01BC23E3C4AF8B5A05C5A6434540C07149A505EA32E330201648986F30DB4A1CAC44FB539D13965AA77404979CCE877041EBBB6197EFA163F2508A85E4BB5FBF243F30FCF7CA0E549594C109 "/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <authentication mode="Windows"/>
    <!--
            如果在执行请求的过程中出现未处理的错误，
            则通过 <customErrors> 节可以配置相应的处理步骤。具体说来，
            开发人员通过该节可以配置
            要显示的 html 错误页
            以代替错误堆栈跟踪。

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.5.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.5.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
</configuration>